html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Theme Colors */
.red {
  background: rgb(244,67,54);
}

.pink {
  background: rgb(233,30,99);
}

.purple {
  background: rgb(156,39,176);
}

.blue {
 background: rgb(33,110,243);
}

.light-blue {
  background: rgb(3,169,244);
}

.green {
  background: rgb(76,175,80);
}

.lime {
  background: rgb(205,220,57);
}

.amber {
  background: rgb(255,193,7);
}

.orange {
  background: rgb(255,152,0);
}

.grey {
  background: rgb(158,158,158);
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .menu-item {
  padding: 20px 20px 0px 20px;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}

md-sidenav.md-locked-open {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
}


/* Primary content area */
.command-center {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

clock path {
  cursor: pointer;
}

.color-palette {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.color-palette-group {
  display: inline-block;
  white-space: nowrap;
}

.color-palette-option {
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 0 10px;
  width: 30px;
  height: 30px;
  transition-duration: 50ms;
}

.color-palette-option:hover, .color-palette-option.selected {
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#content {
  overflow: hidden;
}

#content  {
  width: 100%;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

