<div ng-controller="CommandCenterCtrl as cmd" class="command-center">
	<clock></clock>
  <div class="color-palette">
    <div class="color-palette-group">
      <color-option color="red" class="color-palette-option red selected"></color-option>
      <color-option color="pink" class="color-palette-option pink"></color-option>
      <color-option color="purple" class="color-palette-option purple"></color-option>
      <color-option color="blue" class="color-palette-option blue"></color-option>
      <color-option color="light-blue" class="color-palette-option light-blue "></color-option>
    </div>
    <div class="color-palette-group">
      <color-option color="green" class="color-palette-option green"></color-option>
      <color-option color="lime" class="color-palette-option lime"></color-option>
      <color-option color="amber" class="color-palette-option amber"></color-option>
      <color-option color="orange" class="color-palette-option orange"></color-option>
      <color-option color="grey" class="color-palette-option grey"></color-option>
    </div>
  </div>
</div>
